{% extends 'base.html' %}
{% load static %}
{% block title %}
    E-book
{% endblock title %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/libradmin.css' %}">
{% endblock links %}

{% block content %}
    <div class="main">
        <div class="row">
            <form class="col-12 col-lg-6" method="POST" enctype="multipart/form-data" action="add_book/">
                {% csrf_token %}
                <div class="form-group" data-toggle="validator">
                    <label for="Bookname">Название книги</label>
                    <input name="Bookname" type="text" class="form-control" id="Bookname" required>
                </div>
                <div class="form-group">
                    <label for="Bookauthor">Автор</label>
                    <input name="Bookauthor" type="text" class="form-control" id="Bookauthor" required>
                </div>
                <div class="form-group">
                    <label for="discriptions">Описание</label>
                    <input name="discriptions" type="text" class="form-control" id="discriptions" required>
                </div>
                <div class="custom-file">
                    <input name="bookimg" type="file" class="custom-file-input" id="bookimg" accept="image/*" required>
                    <label class="custom-file-label" for="bookimg">Выберите обложку</label>
                </div>
                <div class="custom-file">
                    <input name="bookfile" type="file" class="custom-file-input" id="bookfile" required>
                    <label class="custom-file-label" for="bookfile">Добавить файл</label>
                </div>
                <button type="submit" class="btn btn-rounded-almbb-success">Добавить книгу</button>
            </form>
            <form class="col-12 col-lg-6" method="POST" action="delete_book/" data-toggle="validator">
                {% csrf_token %}
                <div class="form-group">
                    <label for="Bookid">Id книги</label>
                    <input name="Bookid" type="text" class="form-control" id="Bookid" required>
                </div>
                <button type="submit" class="btn btn-rounded-almbb-danger">Удалить книгу</button>
            </form>
        </div>
        <div class="allbooks">
            <div class="row">
                {% for bookItem in books  %}
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3 bookbox" style="margin-bottom: 1em;">
                        <div class="book">
                            <div class="bookImg">
                                <img src="{{ bookItem.bookimage.url }}" alt="">
                                <div class="bookDiscrp">
                                    <h4>{{ bookItem.bookname }}</h4>
                                    <small>{{ bookItem.author }}</small> <br/>
                                    <small>id книги: {{ bookItem.id }}</small>
                                </div>
                            </div>
                         </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script>
         $('.custom-file input').change(function (e) {
            var files = [];
            for (var i = 0; i < $(this)[0].files.length; i++) {
                files.push($(this)[0].files[i].name);
            }
            $(this).next('.custom-file-label').html(files.join(', '));
        });
    </script>
{% endblock content %}