{% extends 'base.html' %}
{% load static %}
{% block title %}
    E-book
{% endblock title %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/userbooks.css' %}">
{% endblock links %}

{% block content %}
    <div class="main container">
        <h2> {{user.email}} </h2>
        <div class="books">
            <div class="row">
                {% for bookItem in books  %}
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3 bookbox">
                        <div class="book">
                            <div class="bookImg">
                                <img src="{{ bookItem.bookimage.url }}" alt="">
                                <div class="bookDiscrp">
                                    <h4>{{ bookItem.bookname }}</h4>
                                    <small>{{ bookItem.author }}</small>
                                </div>
                            </div>
                            <div class="row" style="padding: 0px 15px">
                                <a href="downloadbook?bookid={{bookItem.id}}" class="btn btn-almbb-small btn-stylish col-12">Скачать</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
             </div>
        </div>
    </div>
{% endblock content %}