{% extends "base.html" %}
{% block title %}Сброс пароля{% endblock title %}
{% block content %}
    <style>
        .main{
            height: 100%;
        }
        .fi{
            font-size: 1.2em
        }
        .fi input{
            width: 90%;
            border-radius:4px;
        }
    </style>
    <div class="main">
        <div class="formbox">
            <form action="" method="post">{% csrf_token %}
                {% if form.email.errors %} {{ form.email.errors }} {% endif %}
                    <p>Введите email</p>
                    <p class="fi">{{ form.email }}</p>
                <input type="submit" class="btn btn-almbb-danger btn-lg" value="Reset password" />
            </form>
        </div>
    </div>
{% endblock %}