.main {
    min-height: 100vh;
    padding-top: 200px;
}

.avatarbox {
    /* object-fit: cover; */
    width: 100%;
    height: 100%;
}

.avatarbox img {
    width: 300px !important;
    height: 300px !important;
    object-fit: cover;
}