.main {
    background-image: url(../images/backinreg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.warp {
    padding-top: 150px !important;
    /* background-color: #fff; */
    padding: 0px 30px;
    min-height: 100vh;
}

/* .main {
    height: 100%;
    padding: 0px;
    min-height: 100vh;
    margin-bottom: 0px;
} */

.formInput {
    border-radius: 50px;
}

.box {
    padding: 30px;
    border-radius: 30px;
    background-color: rgba(236, 236, 236, 0.829);
}