{% extends 'base.html' %}
{% load static %}
{% block title %}
    E-book
{% endblock title %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/book.css' %}">
{% endblock links %}
{% load customtags %}
{% block content %}
    <div class="main container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="avatarbox">
                    <img class="avatar" src="{{ book.bookimage.url }}" alt="" loading="lazy">
                </div>
                <div class="rating">
                    <span>Рейтинг: </span>
                    {% for i in kolstars %}
                        {% if i < rate %}
                            <i style="margin-left:10px; color: yellow" class="fas fa-star"></i>
                        {% else %}
                            <i class="far fa-star"></i>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-12 col-md-6">
                <h3 style="margin-bottom: 0px;">Название: {{ book.bookname }}</h3>
                <small style="padding-top: -15px;">Автор: {{ book.author }}</small>
                <p>Описание: {{ book.discriptions }}</p>
            </div>
        </div>
        {% if_include book.id user.id as ifinc %}
        {% if user.users_inf.status == "ST" and not ifinc %}
            <hr>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <a href="/requestforaddbook?bookid={{book.id}}&userid={{user.id}}" class="btn btn-almbb-success">Добавить к себе</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}
